<mat-toolbar color="primary">
<span>Registro en FuBox</span>
</mat-toolbar>

<div class="registroContainer">
    
    <mat-card class="cardContainer">
        <mat-label class="tituloCard">Formulario de Registro</mat-label>
        <mat-card>
            <form (ngSubmit)="addUser()">
              <mat-form-field appearance="fill" class="registro">
                <mat-label>Nombre</mat-label>
                <input matInput required [(ngModel)]="user.nombre">
              </mat-form-field>
              
              <mat-form-field appearance="fill" class="registro">
                <mat-label>Apellido</mat-label>
                <input matInput required [(ngModel)]="user.apellido">
              </mat-form-field>

              <mat-form-field appearance="fill" class="registro">
                <mat-label>Nombre usuario</mat-label>
                <input matInput required [(ngModel)]="user.usuario">
              </mat-form-field>

              <mat-form-field appearance="fill" class="registro">
                <mat-label>Ingresar correo</mat-label>
                <input matInput placeholder="nombre@dominio.com" [formControl]="email" required  [(ngModel)]="user.correo">
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="registro">
                <mat-label>Número de teléfono</mat-label>
                <input matInput required [(ngModel)]="user.telefono">
              </mat-form-field>
            
              <mat-form-field appearance="fill" class="registro">
                <mat-label>Clave de acceso</mat-label>
                <input matInput type="password" required [(ngModel)]="user.clave">
              </mat-form-field>

              <mat-form-field appearance="fill" class="registro">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" required [(ngModel)]="user.fecha_nacimiento">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            
            <button mat-raised-button color="warn" type="submit" >
              Registrarse
            </button>
            </form>
        </mat-card>
    </mat-card>
</div>
