<div>
    <mat-card>
        <mat-card-header>
            Sistema de archivos 
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <div mat-subheader>Carpetas y Archivos</div>
                <mat-selection-list>
                    <mat-list-option>
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <div mat-line>prueba</div>
                        <div mat-line> 30/06/2022 </div>
                        <mat-divider></mat-divider>
                    </mat-list-option>
                </mat-selection-list>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button>Agregar Carpeta</button>

            <button>Eliminar Carpeta</button>
            <button>Agregar Archivo</button>
            <button>Eliminar Archivo</button>
            
        </mat-card-actions>
    </mat-card>
</div>
