<div>
    <mat-card>
        <mat-card-header>
            Sistema de archivos 
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <div mat-subheader>Carpetas y Archivos</div>
                <mat-selection-list>
                    <mat-list-item *ngFor="let dat of this.arrayResult">
                        <mat-icon mat-list-icon *ngIf="dat.tipo=='1'">folder</mat-icon>
                        <mat-icon mat-list-icon *ngIf="dat.tipo=='0'">assignment</mat-icon>
                        <div mat-line  >{{dat.nombre}}</div>
                        <div mat-line > 02/07/2022 </div>
                        <div mat-line  >Propietario: {{dat.propietario}}</div>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-selection-list>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warn"class="espaciobtn" (click)="sendCreateCarpeta()">Crear </button>
            <mat-form-field appearance="fill" class="espaciobtn">
                <mat-label>Nombre carpeta o archivo</mat-label>
                <input matInput required [(ngModel)]="crearCarpeta.nombre">
            </mat-form-field>
            <button mat-raised-button color="warn"class="espaciobtn" (click)="deleteCarpeta()">Eliminar </button>
            <mat-form-field appearance="fill" class="espaciobtn">
                <mat-label>Nombre carpeta o archivo</mat-label>
                <input matInput required [(ngModel)]="eliminarCarpeta.nombre">
            </mat-form-field>
            <button mat-raised-button color="warn"class="espaciobtn" (click)="sendColaborador()">Agregar colaborador</button>
            <mat-form-field appearance="fill" class="espaciobtn">
                <mat-label>Nombre carpeta o archivo</mat-label>
                <input matInput required [(ngModel)]="crearColaborador.carpeta" >
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="espaciobtn">
                <mat-label>Correo colaborador</mat-label>
                <input matInput required [(ngModel)]="crearColaborador.correo">
            </mat-form-field>
            
        </mat-card-actions>
    </mat-card>
</div>
